[submodule "scorpio-utilities"]
	path = scorpio-utilities
	url = git@github.com:scorpiosixnine/scorpio-utilities.git
[submodule "skyui"]
	path = sdks/skyui
	url = git@github.com:schlangster/skyui
[submodule "sdks/skyrim-sdk"]
	path = sdks/skyrim-sdk
	url = git@github.com:scorpiosixnine/skyrim-sdk
[submodule "sdks/skse64"]
	path = sdks/skse64
	url = git@github.com:ianpatt/skse64
